.bg-primary{
    background-image: url("../images/online-3412473.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color:#37c1ce !important;
}
.bg-primary1{

    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#37c1ce !important;
}
.color{
    background-image: url("../images/online-3412498.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1b3280;
}
.icones{
    max-width:30%;
    max-height:30%;
    width: auto;
    height: auto;
}
.bg-3{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #23272a;
}
.text-white{
    text-shadow: 2px 2px #000000  
}

.carousel-captionn{
    text-align: center;
}
.bg-4{
    background-color: teal ;
}
.text-black{
    color: black;
}
.carousel-caption{
    height: 80%;
    position: absolute;
}